.background {
  position: fixed;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  z-index: -50;
  background: transparent no-repeat;
  background-size: cover;
}

h1 {
  left: 0;
  line-height: 200px;
  margin: auto;
  position: absolute;
  top: 15%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: 'Chivo', sans-serif;
  font-weight: 900;
  text-shadow: 2px 2px 8px #000;
  font-size: 70px;
}

legend {
  color: #fff;
  font-family: 'Chivo', sans-serif;
  font-weight: 900;
  text-shadow: 2px 2px 8px #000;
  border: none;
  text-align: center;
}

label {
  color: #fff;
  font-family: 'Chivo', sans-serif;
  font-weight: 900;
  text-shadow: 2px 2px 8px #000;
}

.login-form {
  margin-top: 20%;
}

h3 {
  font-weight: bold;
}




